# --- General Ignores ---
venv/
data/
.env
__pycache__/
*.log
rfid_database.json
Kiosk_Library/
main.exe
config.json

# --- Kiosk App logic ---
# 1. Ignore everything in kiosk_app
kiosk_app/*

# 2. Allow the Library folder and ONLY the specific files you listed
!kiosk_app/Kiosk_Library/
kiosk_app/Kiosk_Library/*
!kiosk_app/Kiosk_Library/help_fr.html
!kiosk_app/Kiosk_Library/help_en.html
!kiosk_app/Kiosk_Library/logo.webp
!kiosk_app/Kiosk_Library/welcome_fr.html
!kiosk_app/Kiosk_Library/welcome_en.html
!kiosk_app/Kiosk_Library/welcome_video.webm
!kiosk_app/Kiosk_Library/welcome.html

# 3. Allow the source folder but ignore its build artifacts
!kiosk_app/source/
kiosk_app/source/build/
kiosk_app/source/dist/
kiosk_app/source/*.spec